<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "1"
		versionCode="1"
		version   = "">
		<name>ODC Mobile </name>
		<description>
onedaycart.com android app		</description>
		<author href="morbitstech.com" email="abhilash@morbits.net">
Abhilash
		</author>
		<preference name="phonegap-version" value="cli-5.2.0" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />
		
		<access origin="http://onedaycart.com/" subdomains="true"  />
		<gap:plugin name="com.adobe.plugins.gaplugin" />
	</widget>
